<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoice</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="section-info">
        <div class="section-info-div-izquierda">
            <h1>FACTURA</h1>
            <table class="fl-table">
                    <tr>
                        <td>Fecha:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fecha de vencimiento:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-important">Total venta:</td>
                        <td></td>
                    </tr>
            </table>
        </div>
        <div class="section-info-div-derecha">
            <img src="https://avatars.githubusercontent.com/u/141779507?v=4" width="200" height="200" alt="">
            <table class="fl-table">
                <tr>
                    <td >Empresa:</td>
                    <td class="text-important"></td>
                </tr>
                <tr>
                    <td>Nombre del vendedor:</td>
                    <td class="text-important" ></td>
                </tr>
            </table>
        </div>
    </section>
    <table class="fl-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Units</th>
                <th>Unit price</th>
                <th>Total price</th>
            </tr> 
        </thead>
        <tbody>
            <tr>
                <td>Item serial 1</td>
                <td>10</td>
                <td>10.000</td>
                <td>100.000</td>
            </tr>
            <tr>
                <td>Item serial 1</td>
                <td>10</td>
                <td>10.000</td>
                <td>100.000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
